<!-- Footer -->
<footer style="background-color: black;border-top: 2px #1ba979 solid; color: #98948e">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

        <!-- Footer links -->
        <div class="row text-center text-md-left mt-3 pb-3">

            <div class="col-md-4 mt-4">
                <center><img class="logo" src="img/globo.png"></center>
                <center><h6 class="text-uppercase mb-4 font-weight-bold mt-4">Engenheiros Sem Fronteiras<br><small  style="color: #1ca879;">Núcleo Santa Maria - RS</small></h6></center>
            </div>

            <hr class="w-100 clearfix d-md-none">
            <div class="col-md-5 mt-1">
                <h6 class="text-uppercase mb-4 font-weight-bold">Contato</h6>
                <p>
                    <i class="fa fa-home mr-1"></i> Avenida Roraima Nº 1000, Santa Maria - RS, Brasil</p>
                <p>
                    <i class="fa fa-envelope mr-1"></i> santamaria@esf-brasil.org</p>
                <p>
                    <i class="fa fa-phone mr-1"></i> + 55 55 0 0000-0000</p>
            </div>

            <hr class="w-100 clearfix d-md-none">
            <div class="col-md-3 mt-1">
                <h6 class="text-uppercase mb-4 font-weight-bold">Links</h6>
                <p>
                    <a href="/link?dir=pg-torne-se_um_membro">Tornar-se um membro</a>
                </p>
                <p>
                    <a href="/link?dir=pg-voluntarie-se">Voluntarie-se em projetos</a>
                </p>
                <p>
                    <a href="/link?dir=pg-seja_um_parceiro">Seja um parceiro</a>
                </p>
            </div>

        </div>
        <!-- Footer links -->
        <hr>
        <!-- Grid row -->
        <div class="row d-flex align-items-center">

            <!-- Grid column -->
            <div class="col-md-7 col-lg-8" style="    font-size: 9pt;">

                <!--Copyright-->
                <p class="text-center text-md-left">© 2019 Copyright:
                    <a href="https://www.facebook.com/diovane.soligo" title="Desenvolvido por Diovane Soligo" target="_blank">
                        <strong> D'S </strong>
                    </a>
                </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-5 col-lg-4 ml-lg-0">

                <!-- Social buttons -->
                <div class="text-center text-md-right">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                <a href="https://www.facebook.com/esf.sm/" title="FaceBook - Engenheiros sem Fronteiras - Núcleo Santa Maria" target="_blank">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                <a href="https://www.instagram.com/esf.santamaria/" title="Instagram - Engenheiros sem Fronteiras - Núcleo Santa Maria" target="_blank">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                <a href="mailto:santamaria@esf-brasil.org" title="E-mail - Engenheiros sem Fronteiras - Núcleo Santa Maria"><i class="fa fa-envelope"></i></a>
                            </a>
                        </li>
                       <!-- <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                <a href="#!" data-toggle="modal" data-target="#login-modal" title="Acessar area de administração do site"><i class="fa fa-sign-in"></i></a>
                            </a>
                        </li>-->
                    </ul>
                </div>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

</footer>

<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="border: 2px #0e553d solid;">
            <form action="/login" method="post" autocomplete="off">
                <div class="modal-header">
                    <h5 style="padding-left: 20%;color: #1ca879;">LOGIN - ESF Santa Maria RS</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="email" name="user" id="email" class="form-control" placeholder="e-mail" style="text-align: center;font-style: italic;">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" id="key" class="form-control" placeholder="senha" style="text-align: center;">
                        <br>
                        <input type="submit" id="btn-login" class="btn btn-success btn-custom btn-lg btn-block" value="Entrar">
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <p class="text-center text-md-left" style="font-size: 9pt;">© 2019 Copyright:
                    <a href="https://www.facebook.com/diovane.soligo" title="Desenvolvido por Diovane Soligo" target="_blank">
                        <strong> D'S </strong>
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>

