<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #343a40d1!important;">
    <a class="navbar-brand" href="/">
        <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-2">
                <img class="logo" src="img/globo.png" height="40">
            </div>
            <div class="col-xs-10 col-sm-10 col-md-10">
                Engenheiros Sem Fronteiras<br>
                <p style="color: #1ca879;font-size: 10pt">Núcleo Santa Maria</p>
            </div>
        </div>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar1">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/"><i class="fa fa-home"></i> Início<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown"> <i class="fa fa-info-circle"></i> Sobre Nós  </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/link?dir=sn-quem_somos"> Quem somos</a></li>
                    <li><a class="dropdown-item" href="/link?dir=sn-nucleo_sm"> Núcleo de Santa Maria </a></li>
                    <li></li>
                </ul>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/link?dir=sn-projetos"><i class="fa fa-eye" aria-hidden="true"></i> Projetos </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/blog"><i class="fa fa-bullhorn"></i> Blog</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/link?dir=info-contato"><i class="fa fa-comments-o"></i> Contato </a>
            </li>
        <form class="form-inline my-2 my-lg-0" method="get" action="/busca">
            <input class="form-control mr-sm-2" name="palavra_chave" type="search" placeholder="Buscar no site..." aria-label="Search" required>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar <i class="fa fa-search"></i></button>
        </form>
        </ul>
    </div>
</nav>