<!DOCTYPE html>
<html lang="pt">
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131038256-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-131038256-1');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Engenheiros Sem Fronteiras (Núcleo Santa Maria)</title>
    <link rel="shortcut icon" href="img/globo.png">

    <!-- Descrição -->
    <meta name="author" content="Diovane Soligo">
    <meta name="description" content="Site de apresentação da ONG Engenheiros Sem Fronteiras, Núcleo Santa Maria - RS">

    <!-- og -->
    <meta property="og:image" content="img/og.jpg">
    <meta property="og:description" content="ONG atuante na cidade de Santa Maria - RS.
    Desenvolvemos projetos e atividades de engenharia, educação e desenvolvimento sustentável.">
    <meta property="og:title" content="Engenheiros Sem Fronteiras - Núcleo Santa Maria - RS">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Material Design https://getmdl.io/index.html
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>-->

</head>
<body>