<%- include comum/top.ejs %>

<%- include comum/menu.ejs %>

<br>
<div class="container">
    <div class="row" style="font-size: 16pt;border-bottom: 2px #1ca879 solid;margin-bottom: 2%;">
        <p><b>> CONTATO</b></p>
    </div>
    <div class="row">
        <div class="col-md-7">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8241.297242810308!2d-53.72298583312545!3d-29.718639548337215!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9503b5e734a7c815%3A0x82b3f9bdf92727ec!2sUniversidade+Federal+de+Santa+Maria!5e0!3m2!1spt-BR!2sbr!4v1544210645206" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="col-md-5 mt-1">
            <h6 class="text-uppercase mb-4 font-weight-bold">Responderemos o mais rápido possível!</h6>
            <p>
                <i class="fa fa-envelope mr-1"></i> santamaria@esf-brasil.org
            </p>
            <p>
                <i class="fa fa-phone mr-1"></i> + 55 55 0 0000-0000
            </p>
            <p>
                <i class="fa fa-home mr-1"></i> Avenida Roraima Nº 1000, Santa Maria - RS, Brasil
            </p>
            <p>
                <i class="fa fa-map-marker mr-1"></i><b>Onde estamos?</b> Nossa sede está localizada dentro da UFSM, localizado no prédio .....
            </p>
        </div>
    </div>
</div>
<hr>

<%- include comum/footer_conteudo.ejs %>

<%- include comum/footer.ejs %>