<center>
<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>Oops!</h1>
        </div>
        <h2><%= error.status %> - <%= message %></h2>
        <p><pre><%= error.stack %></pre></p>
        <a href="/">Voltar para página inicial</a>
    </div>
</div>
</center>

