<%- include comum/top.ejs %>

<%- include comum/menu.ejs %>

<br>
<div class="container">
    <div class="row" style="font-size: 16pt;border-bottom: 2px #1ca879 solid;margin-bottom: 2%;">
        <p><b>> SEJA UM PARCEIRO</b></p>
    </div>
    <div class="row">
        <div class="col-md-7">
            imagem
        </div>
        <div class="col-md-5 mt-1 text-justify">
            <h6 class="text-uppercase mb-4 font-weight-bold "> Seja um de nossos parceiros!</h6>
            <p>
                Nossas atividades e projetos só são possíveis devido a entidades que acreditam e confiam no nosso trabalho,
                como agente de transformação social da realidade de Santa Maria e do nosso país.
            </p>
            <p>
                Para colaborar com o EsF com divulgação, doação, serviço, auxílio financeiro ou outro tipo de recurso,
                entre em contato com a gente através de nossas mídias sociais.
            </p>
            <p>
            <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                    <a href="https://www.facebook.com/esf.sm/" title="FaceBook - Engenheiros sem Fronteiras - Núcleo Santa Maria" target="_blank">
                        <i class="fa fa-facebook"></i>aceBook
                    </a>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                    <a href="https://www.instagram.com/esf.santamaria/" title="Instagram - Engenheiros sem Fronteiras - Núcleo Santa Maria" target="_blank">
                        <i class="fa fa-instagram"></i> Instagram
                    </a>
                </a>
            </li>
            </p>
        </div>
    </div>
</div>
<hr>



<%- include comum/footer_conteudo.ejs %>

<%- include comum/footer.ejs %>