<%- include comum/top.ejs %>

<%- include comum/menu.ejs %>

<br>
<div class="container">
    <div class="row" style="font-size: 16pt;border-bottom: 2px #1ca879 solid;margin-bottom: 2%;">
        <p><b>> TORNAR-SE UM MEMBRO</b></p>
    </div>
    <div class="row">
        <div class="col-md-7">
            imagem
        </div>
        <div class="col-md-5 mt-1 text-justify">
            <h6 class="text-uppercase mb-4 font-weight-bold "> Fique atento aos nossos Processos Seletivos!</h6>
            <p>
                Eles ocorrem no início dos semestres letivos da UFSM e você poderá ter mais informações sobre os mesmos acompanhando nossa página no
                <a class="btn-floating btn-sm rgba-white-slight">
                    <a href="https://www.facebook.com/esf.sm/" title="FaceBook - Engenheiros sem Fronteiras - Núcleo Santa Maria" target="_blank">
                        <i class="fa fa-facebook"></i>acebook
                    </a>
                </a>.
            </p>
        </div>
    </div>
</div>
<hr>



<%- include comum/footer_conteudo.ejs %>

<%- include comum/footer.ejs %>