<section class="container-fluid" id="abordagens" style="background-color: #8a2be2e0;">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
            <h2 class="text-center text-primary">ABORDAGENS USADAS PELA PSICÓLOGA DIANA S. SOLIGO</h2>
            <hr>
            <div class="media wow fadeInRight">
                <h3>Abordagem sistêmica</h3>
                <div class="media-body media-middle">
                    <p class="text-justify">A abordagem sistêmica é uma proposta de trabalho com as pessoas, as relações e
                        o sistema humano, visto que o sujeito é sempre referido por um sistema e a
                        matriz de sua identificação é a família.
                    </p>
                    <p class="text-justify"> Esse procedimento terapêutico leva
                        a mudanças de paradigmas e novos olhares para a constelação psíquica que constitui
                        a dinâmica das relações interpessoais sistêmicas, possibilitando diferentes conexões,
                        diálogos, aplicabilidade e funcionalidade do manejo clínico.
                    </p>
                </div>
                <div class="media-right">
                    <i class="icon-lg ion-ios-pulse"></i>
                </div>
            </div>
            <hr>
            <div class="media wow fadeIn">
                <h3>Abordagem cognitiva comportamental</h3>
                <div class="media-left">
                    <i class="icon-lg ion-ios-heart-outline"></i>
                </div>
                <div class="media-body media-middle">
                    <p class="text-justify">É uma abordagem terapêutica estruturada, diretiva, com metas claras e definidas pelo psicólogo e paciente.</p>

                        <p class="text-justify">Seu objetivo principal é modificar os pensamentos e os sistemas de significados dos pacientes (Crenças Centrais),
                            buscando uma alteração emocional comportamental consolidada e permanente.</p>
                        <p class="text-justify">As crenças são construídas desde a infância sendo reafirmadas durante a vida.
                        O terapeuta tem um papel ativo, colaborativo e educativo. Ele prepara o paciente através de técnicas e atividades de casa,
                        a fim de mudar pensamentos e crenças. Isto possibilitará mais conhecimento sobre o funcionamento emocional e comportamental da pessoa em terapia.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>