<header id="apresentacao">
    <div class="header-content">
        <div class="inner"><img src="../img/psico_icon.png">
            <h1 class=" media wow fadeInDownBig" style=""><b>Psicologia</b></h1>
            <h2 class=" media wow fadeInDownBig" style="margin-top: 0px;"><b>Infantil e Adolescente</b></h2>
            <hr>
            <h3 class="media wow fadeInUpBig" style="color: #8e25a0;"><b>Diana S. Soligo <br> <span style="font-size: 18px;">CRP 07/30541</span></b></h3>
        </div>
    </div>
</header>