<header id="apresentacao">
    <div class="header-content">
        <div class="inner media wow fadeInUpBig">
            <h1 style=""><b>Psicologia</b></h1>
            <h2 style="margin-top: 0px;"><b>Infantil e Adolescente</b></h2>
            <hr>
            <h3 style="color: #8e25a0;"><b>Diana S. Soligo <br> <span style="font-size: 18px;">CRP 07/30541</span></b></h3>
        </div>
    </div>
</header>