<header id="apresentacao">
    <div class="header-content">
        <div class="inner">
            <h1 class="cursive" style="font-size: 80px;color: #8e25a0;">Diana Soligo</h1>
            <h4 style="color: #8e25a0;">CRP XXXXXXX</h4>
            <hr>
            <a href="#one" class="btn btn-primary btn-xl page-scroll">Get Started</a>
        </div>
    </div>
</header>