<footer id="footer" style="    padding-top: 55px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-3 col-sm-1 column"></div>

            <div class="col-xs-12 col-sm-6">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d7914.6969378292!2d-52.25636263215537!3d-27.914346964245293!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e2!4m0!4m5!1s0x94e2e24118355b43%3A0x618efd1f1ca77efd!2sSanto+Ant%C3%B4nio!3m2!1d-27.915012599999997!2d-52.2499165!5e0!3m2!1spt-BR!2sbr!4v1557458459299!5m2!1spt-BR!2sbr" width="100%" height="320" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="col-xs-9 col-sm-5 column">
                <h1 class="">CONTATO</h1>
                <hr align="left" style="    max-width: 80% !important;">
                <h3>Psicóloga Diana Sara Soligo</h3>
                <h4 class="pt-2">Consultório</h4>
                <i class="ion-map"></i> Rua Gregório Somenzi, 84, Santo Antônio | Estação - RS<br>
                <h4 class="pt-2"></h4>
                <i class="ion-ios-telephone-outline"></i> Telefone: <a href="tel:+5554991799757"> (54) 9 9179-9757 </a>
                <h4 class="pt-2"></h4>
                <i class="ion-social-whatsapp-outline"></i> Whatsapp: <a href="https://api.whatsapp.com/send?phone=555491799758" target="_blank"> Envie uma mensagem</a><br>
                <h4 class="pt-2"></h4>
                <i class="ion-ios-email-outline"></i> E-mail: <a href="mailto:Dianasara1@hotmail.com">Dianasara1@hotmail.com</a><br>
            </div>
            <div class="col-xs-3 col-sm-1 column"></div>
        </div>
        <br/>
        <span class="pull-right text-muted small"><a href="https://www.facebook.com/diovane.soligo"><i class="ion-android-globe"></i> By Soligo Web Sites</a> © 2019 Copyrights</span>
    </div>
</footer>