<footer id="footer" style="    padding-top: 55px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-3 col-sm-1 column"></div>

            <div class="col-xs-12 col-sm-5">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5738.191262311867!2d-52.25252118508149!3d-27.91401651401127!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjfCsDU0JzU1LjAiUyA1MsKwMTQnNTEuMiJX!5e1!3m2!1spt-BR!2sbr!4v1558662348007!5m2!1spt-BR!2sbr" width="100%" height="320" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="col-xs-12 col-sm-5 column">
                <h1 class=""><i class="ion-chatbox-working"></i> CONTATO</h1>
                <hr align="left" style="    max-width: 80% !important;">
                <h3>Psicóloga Diana S. Soligo</h3>
                <h4 class="pt-2">Consultório</h4>
                <i class="ion-map"></i> Rua Gregório Somenzi, 84, Santo Antônio | Estação - RS<br>
                <h4 class="pt-2"></h4>
                <i class="ion-ios-telephone-outline"></i> Telefone: <a href="tel:+5554991799758"> (54) 9 9179-9758 </a>
                <h4 class="pt-2"></h4>
                <i class="ion-social-whatsapp-outline"></i> Whatsapp: <a href="https://api.whatsapp.com/send?phone=555491799758" target="_blank"> Envie uma mensagem</a><br>
                <h4 class="pt-2"></h4>
                <i class="ion-ios-email-outline"></i> E-mail: <a href="mailto:dianasarapsicologia@gmail.com">dianasarapsicologia@gmail.com</a><br>
            </div>
            <div class="col-xs-3 col-sm-1 column"></div>
        </div>
        <br/><hr style="max-width: 100%;">
        <span class="pull-right text-muted"><a href="http://didiweb.com.br"><i class="ion-android-globe"> DidiWeb </i></a> © 2019 Copyrights</span>
    </div>
</footer>