<style>
  /* Video Overlay */

    #overlay {
        background-color:rgba(0,0,0,.65);
        height:100%;
        left:0;
        position:relative;
        top:0;
        transition:background-color 300ms ease;
        width:100%;
    }

    .fade { background-color:rgba(0,0,0,.85) !important; }


    /* Hero Video + Fallback */

    #hero-vid {
        backface-visibility:hidden;
        background:url("img/capa.png") no-repeat scroll 0 0 #000;
        background-size:cover;
        bottom:0;
        height:auto;
        min-height:100%;
        min-width:100%;
        perspective:1000;
        position:fixed;
        right:0;
        width:auto;
        z-index:-1;
    }


    /* Media Queries */

    @media only screen and (max-width:768px) {
        #overlay { height:auto; }
    }


    /* Visibility Helpers */

  /*  @media only screen and (min-width:769px) {
        .visible-mobile,.visible-tablet,.hidden-desktop { display:none !important; }
    }

    @media only screen and (min-width:480px) and (max-width:768px) {
        .visible-mobile,.hidden-tablet,.visible-desktop { display:none !important; }
    }

    @media only screen and (max-width:479px) {
        .hidden-mobile,.visible-tablet,.visible-desktop { display:none !important; }
    }*/
</style>
<div id="overlay">
    <video class="visible-desktop" id="hero-vid" poster="img/capa.png" autoplay loop muted>
        <source type="video/webm" src="video/videohome.webm"></source>
        <source type="video/mp4" src="video/videohome.mp4"></source>
    </video>
</div>
