<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-137376865-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-137376865-1');
    </script>

    <meta charset="utf-8">
    <title>Psicóloga Diana S. Soligo</title>
    <meta name="description" content="Psicóloga Diana Sara Soligo CRP 07/30541. Psicologia Infantil e Adolescente" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="Codeply">

    <link rel="shortcut icon" href="https://banner2.kisspng.com/20180816/zyv/kisspng-counseling-psychology-psychologist-clinical-psycho-5b763321c6c366.8412483415344729938141.jpg">

    <!-- Descrição -->
    <meta name="author" content="Diovane Soligo">
    <meta name="description" content="Psicóloga Diana Sara Soligo - CRP 07/30541">

    <!-- og -->
    <meta property="og:image" content="http://blog.scielo.org/wp-content/uploads/2017/03/psicologia.png">
    <meta property="og:description" content="Rua Gregório Somenzi, 84, Santo Antônio | Estação - RS.">
    <meta property="og:title" content="Psicóloga Diana Sara Soligo - CRP 07/30541.">

    <link rel="stylesheet" href="./css/bootstrap.min.css" />
    <link rel="stylesheet" href="./css/animate.min.css" />
    <link rel="stylesheet" href="./css/ionicons.min.css" />
    <link rel="stylesheet" href="./css/styles.css" />
</head>