<section class="bg-primary" id="inicio">
    <div class="container">
        <div class="row">
            <h2 class="text-center text-primary">Psicóloga Diana Sara Soligo</h2>
            <hr>
            <div class="col-lg-offset-1 col-lg-5 col-md-offset-1 col-md-5 text-center">
                <img src="../img/32671d6f-f401-466e-942d-58cc8caec354.jpg" class="img-circle" style="width: 80%;" alt="Diana Soligo">
            </div>
            <div class="col-lg-5 col-md-5 text-center">
                <p class="text-justify">
                    É graduada em psicologia pelo Instituto de Desenvolvimento Educacional do Alto Uruguai (IDEAL),
                e possui formação técnica em enfermagem pela Universidade Reginal Integrada do Alto Uruguai (URI) ...
                </p>
            </div>
        </div>
    </div>
</section>