<section class="bg-primary" id="inicio">
    <div class="container">
        <div class="row">
            <h2 class="text-center text-primary">Psicóloga Diana Sara Soligo</h2>
            <hr>
            <div class="col-lg-offset-1 col-lg-5 col-md-offset-1 col-md-5 text-center">
                <img src="../img/32671d6f-f401-466e-942d-58cc8caec354.jpg" class="img-circle" style="width: 80%;" alt="Diana Soligo">
            </div>
            <div class="col-lg-5 col-md-5 text-center">
                <p class="text-justify">
                    Aos 19 anos formou-se no curso de técnico em enfermagem, e exerceu a profissão por sete anos.
                    Após, atuou durante seis anos na área de comunicação, como locutora de rádio.

                    Porém seu grande sonho sempre foi ser psicóloga, pois
                    acredita que pode fazer a diferença na vida de muitas pessoas, e foi em
                    busca deste sonho que hoje é formada em psicologia, atendendo em seu consultório localizado no município de Estação - RS.

                    Para melhor atender seus pacientes, atualmente cursa Pós-Graduação em TCC (Terapia Cognitiva Comportamental).
                    Seu atendimento é focado em crianças e adolescentes.
                </p>
            </div>
        </div>
    </div>
</section>