<nav id="topNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll media wow fadeInLeft" href="#apresentacao">Psicóloga Diana Soligo</a>
        </div>
        <div class="navbar-collapse collapse media wow fadeInRight" id="bs-navbar">
            <ul class="nav navbar-nav">
                <li>
                    <a class="page-scroll" href="#inicio"><i class="ion-ios-home"></i> Início</a>
                </li>
                <li>
                    <a class="page-scroll" href="#sobre"><i class="ion-ios-help-outline"></i> Sobre</a>
                </li>
                <li>
                    <a class="page-scroll" href="#servicos"><i class="ion-ios-bookmarks-outline"></i> SERVIÇOS</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contato"><i class="ion-ios-contact-outline"></i> Contato</a>
                </li>
            </ul>

        </div>
    </div>
</nav>