<nav id="topNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#apresentacao">Psicóloga Diana Soligo</a>
        </div>
        <div class="navbar-collapse collapse" id="bs-navbar">
            <ul class="nav navbar-nav">
                <li>
                    <a class="page-scroll" href="#inicio">Início</a>
                </li>
                <li>
                    <a class="page-scroll" href="#sobre">Sobre</a>
                </li>
                <li>
                    <a class="page-scroll" href="#servicos">SERVIÇOS</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contato">Contato</a>
                </li>
            </ul>

        </div>
    </div>
</nav>