<div style="background-color: white">
<div class="container">
        <div class="row">
            <div class="col-md-12" style="border-bottom: 3px #1ca879 solid;">
                <b>PARCEIROS</b>
            </div>
        </div>
    <div class="row text-center">
        <div class="col-md-3 mb-4 mt-3">

        </div>
        <div class="col-md-3 mb-4 mt-3">
            <a href="https://exchangedobem.com/" title="Parceiro Exachenge do bem" target="_blank">
                <img class="logo" src="img/parceiro1.png" height="60">
            </a>
        </div>
        <div class="col-md-3 mb-4 mt-3">
            <a href="https://aiesec.org.br/" title="Parceiro AIESEC" target="_blank">
                <img class="logo" src="img/aiesec.jpg" height="60">
            </a>
        </div>
        <div class="col-md-3 mb-4 mt-3">

        </div>
    </div>
</div>
</div>