<section class="container-fluid" id="quando" style="background-color: #5e2483;">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
            <h2 class="text-center text-primary">QUANDO PROCURAR UM ESPECIALISTA?</h2>
            <hr>
            <div class="media wow fadeInRight">
                <h3>QUANDO PRECISAMOS DE PSICOTERAPIA?</h3>
                <div class="media-body media-middle">
                    <p>Precisamos de psicoterapia sempre que estivermos vivendo alguma situação na qual não sabemos o que fazer,
                        não sabemos como lidar e como sair, quando nos sentimos presos a algo que nos incomoda, princip... [clique para ver mais]</p>
                </div>
                <div class="media-right">
                    <i class="icon-lg ion-ios-bolt-outline"></i>
                </div>
            </div>
            <hr>
            <div class="media wow fadeIn">
                <h3>QUANTO PROCURAR UM PSICOLOGO PARA A CRIANÇA?</h3>
                <div class="media-left">
                    <i class="icon-lg ion-ios-heart-outline"></i>
                </div>
                <div class="media-body media-middle">
                    <p>Quanto a criança estiver apresentando:
                        Agressividade;
                        Hostilidade;
                        Desânimo;
                        Problemas em se relacionar;
                        Birra;
                        Dificuldades para apre...[clique para ver mais]
                    </p>
                </div>
            </div>
            <hr>
            <div class="media wow fadeInRight">
                <h3>QUANTO PROCURAR UM PSICOLOGO PARA O ADOLESCENTE?</h3>
                <div class="media-body media-middle">
                    <p>Normalmente, nessa idade eles não se sentem a vontade ou sentem vergonha em contar tudo que se
                        passa para os pais e estes muitas vezes sentem dificuldade em como lidar com o adolescente sendo
                        importante procurar a aju... [clique para ver mais]</p>
                </div>
                <div class="media-right">
                    <i class="icon-lg ion-ios-snowy"></i>
                </div>
            </div>
        </div>
    </div>
</section>