<section class="container-fluid" id="quando" style="background-color: #5e2483;">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
            <h2 class="text-center text-primary">QUANDO PROCURAR UM ESPECIALISTA?</h2>
            <hr>
            <div id="accordion">
                <div class="media wow bounceInDown">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn-primary btn-lg btn-block collapsed" style="background-color: #8e25a03d;" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    <h4><i class="ion-ios-pulse-strong"></i> QUANDO PRECISAMOS DE PSICOTERAPIA? </h4>
                                </button>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                <div class="media-body media-middle">
                                    <p class="text-justify">
                                        &nbsp&nbsp&nbsp&nbsp&nbsp Precisamos de psicoterapia sempre que estivermos vivendo alguma situação na
                                        qual não sabemos o que fazer, não sabemos como lidar e como sair, quando nos
                                        sentimos presos a algo que nos incomoda, principalmente se estiver interferindo no
                                        funcionamento social, acadêmico e profissional.
                                        <br><br>
                                        &nbsp&nbsp&nbsp&nbsp&nbsp Muitas vezes vivemos situações com as quais não conseguimos lidar
                                        sozinhos,que insistem em continuar mesmo após tentarmos melhorar, e não
                                        conseguimos sair apesar do esforço e apoio das pessoas ao redor, seja após passar por
                                        uma perda significativa ou qualquer circunstância difícil de resolver, que insistem em
                                        continuar mesmo após tentarmos melhorar, e não conseguimos sair apesar do esforço e
                                        apoio das pessoas ao redor.
                                        <br><br>
                                        &nbsp&nbsp&nbsp&nbsp&nbsp Existem momentos em que nos sentimos perdidos sem saber o porquê, não
                                        compreendemos alguma emoção, nos sentindo estranhos, com sentimentos ambíguos,
                                        indecifráveis. Em outras ocasiões nos sentimos carentes de afeto e atenção e buscamos
                                        isso de formas destrutivas, de maneira desesperada, causando dor a nós mesmos e às
                                        pessoas ao redor.
                                        <br><br>
                                        &nbsp&nbsp&nbsp&nbsp&nbsp Outras vezes percebemos que nossas atitudes estão ferindo as pessoas ao nosso
                                        redor, não conseguimos ter autocontrole, tendo explosões de raiva, causando brigas
                                        frequentes, sem entendermos o porquê de agir desta forma.
                                        <br><br>
                                        &nbsp&nbsp&nbsp&nbsp&nbsp No caso de crianças, os pais, professores ou cuidadores podem perceber que ela
                                        está mais agitada ou mais apática do que o normal, não brinca, se isola, chora
                                        frequentemente, não se alimenta bem, não dorme bem, ou dorme por um tempo
                                        adequado e mesmo assim sente-se cansada/desanimada durante o dia. Não aprende
                                        apesar de não possuir razão aparente para isto; regride a estágios anteriores, possui
                                        algum distúrbio, deficiência, ou passou por alguma perda/trauma, entre outras situações
                                        difíceis.
                                        <br><br>
                                        &nbsp&nbsp&nbsp&nbsp&nbsp O adolescente pode ter problemas comportamentais, não se anima com
                                        atividades que antes animavam, se isola do grupo ou passa a interagir de forma muito
                                        diferente da habitual, briga com colegas, sofre/pratica bullying, chora facilmente, tem
                                        comportamentos autodestrutivos, agressivos, entre outros.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="media wow bounceInLeft">
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn-primary btn-lg btn-block collapsed" style="background-color: #8e25a03d;" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <h4><i class="ion-android-color-palette"></i> PARA A CRIANÇA?</h4>
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                                <div class="media-body media-middle">
                                    <p class="text-justify">
                                        <b>Quanto a criança estiver apresentando:</b>
                                        <br><br>
                                        * Agressividade;<br>
                                        * Hostilidade;<br>
                                        * Desânimo;<br>
                                        * Problemas em se relacionar;<br>
                                        * Birra;<br>
                                        * Dificuldades para aprender;<br>
                                        * Não consegue se posicionar e se defender;<br>
                                        * Fica ansiosa demais;<br>
                                        * Tem medo excessivo em deixar os pais, ou ao dormir ou ir à escola;<br>
                                        * Fala muito sobre morte;<br>
                                        * Conecta-se com personagens agressivos, que matam, que são vilões;
                                        não respeita regras, dita e muda regras dos jogos para benefício próprio;<br>
                                        * Não se importa com os outros;<br>
                                        * Comportamentos ligados à sexualidade, como apresentar fala e gestos sexuais;<br>
                                        * Não consegue fazer uso da imaginação ao brincar;<br>
                                        * Come muito ou come pouco demais;<br>
                                        * Está abaixo ou acima do peso;<br>
                                        * Não tem interesse em se arrumar e se produzir, como por exemplo arrumar o cabelo;<br>
                                        * É desleixado com os materiais e brinquedos ou é organizado demais;<br>
                                        * Dorme com a luz acesa;<br>
                                        * Faz xixi na cama com frequência;<br>
                                        * Adoece com frequência;<br>
                                        * Falta de concentração.<br><br>
                                        &nbsp&nbsp&nbsp&nbsp&nbsp São demonstrativos de que algo está errado. São sinais de que a criança precisa
                                        de ajuda especializada.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="media wow bounceInRight">
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                                <button class="btn-primary btn-lg btn-block collapsed" style="background-color: #8e25a03d;" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <h4><i class="ion-ios-people-outline"></i> PARA O ADOLESCENTE?</h4>
                                </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body">
                                <div class="media-body media-middle">
                                    <p class="text-justify">
                                        &nbsp&nbsp&nbsp&nbsp&nbsp Normalmente, nessa idade eles não se sentem a vontade ou sentem vergonha
                                        em contar tudo que se passa para os pais e estes muitas vezes sentem dificuldade em
                                        como lidar com o adolescente sendo importante procurar a ajuda do psicólogo.<br><br>
                                        &nbsp&nbsp&nbsp&nbsp&nbsp É comum algumas atitudes do adolescente ser diferente do que costumava ser,
                                        mas é importante observar os excessos!<br><br>
                                        <b>Fique atento quando houver:</b><br>
                                        - choro em excesso e por várias vezes na semana,<br>
                                        - comportamentos automutilantes, <br>
                                        - muita agressividade, <br>
                                        -querer ficar muito tempo sozinho, entre outros. <br><br>

                                        &nbsp&nbsp&nbsp&nbsp&nbsp Sendo assim, na psicoterapia com adolescentes costumam ser abordados temas
                                        como relacionamentos, conflitos, autoconhecimento, medos, inseguranças, conflitos
                                        entre gerações, escolhas profissionais, ansiedade, sexualidade, timidez, agressividade.<br><br>
                                        &nbsp&nbsp&nbsp&nbsp&nbsp Os pais precisam estar atentos, à principio o filho pode se negar a querer ajuda
                                        ou simplesmente esconder que está tudo bem, porém é preciso mostrar a necessidade e
                                        desmistificar a ida ao psicólogo como sendo &quot;só para loucos&quot; e sim, para ajudá-lo a
                                        resolver o que ainda não compreende sozinho, muitas vezes a escola também pode
                                        ajudar nesse sentido, mostrando ao adolescente a importância dele procurar auxílio.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>